@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@700&family=Tourney:wght@300&display=swap");

body {
  width: 100wh;
  height: 100vh;
  color: #fff;
  background: linear-gradient(-45deg, #ffffff, #43db07, #23a6d5, #23d5ab);
  background-size: 400% 400%;
  -webkit-animation: Gradient 15s ease infinite;
  -moz-animation: Gradient 15s ease infinite;
  animation: Gradient 15s ease infinite;
}

@-webkit-keyframes Gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

@-moz-keyframes Gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

@keyframes Gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.btn {
  font-family: "Quicksand", sans-serif;
}
h2 {
  font-family: "Quicksand", sans-serif;
  text-align: center;
  font-weight: 100;
  bottom: 10px;
}

p {
  font-family: "Quicksand", sans-serif;
  text-align: center;
  font-size: small;
  bottom: 10px;
}

h1,
h6 {
  font-family: "Open Sans";
  font-weight: 300;
  text-align: center;
  position: absolute;
  top: 45%;
  right: 0;
  left: 0;
}

.shake {
  animation: shake-animation 4.72s ease infinite;
  transform-origin: 50% 50%;
}
.element {
  margin: 0 auto;
  width: 150px;
  height: 150px;
  background: red;
}
@keyframes shake-animation {
  0% {
    transform: translate(0, 0);
  }
  1.78571% {
    transform: translate(5px, 0);
  }
  3.57143% {
    transform: translate(0, 0);
  }
  5.35714% {
    transform: translate(5px, 0);
  }
  7.14286% {
    transform: translate(0, 0);
  }
  8.92857% {
    transform: translate(5px, 0);
  }
  10.71429% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(0, 0);
  }
}

.backdrop {
  -moz-box-shadow: 0px 6px 5px rgb(255, 255, 255);
  -webkit-box-shadow: 0px 6px 5px rgb(255, 255, 255);
  box-shadow: 0px 2px 10px rgb(255, 255, 255);
  -moz-border-radius: 190px;
  -webkit-border-radius: 190px;
  border-radius: 190px;
}

.profil {
  width: 120px;
  height: 120px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50% 50%;
}

footer {
  margin-top: 50px;
  text-align: center;
}

.btn-instagram {
  background-color: deeppink;
}

.btn-youtube {
  background-color: red;
}

.btn-email {
  background-color: teal;
}
.btn-website {
  background-color: #248000;
}

.btn-fb {
  background-color: rgb(3, 43, 173);
}

.btn-pemrograman {
  background-color: rgb(255, 23, 23);
}

.btn-multimedia {
  background-color: blue;
}

.btn-jaringan {
  background-color: green;
}
